# A.pFound

### Для open_task

In [3]:
import pandas as pd
import numpy as np

In [4]:
host_df = pd.read_csv("yandex_cup_analytics_A/open_task/hostid_url.tsv", sep="\t", 
                      names=["hostid", "url"])

query_df = pd.read_csv("yandex_cup_analytics_A/open_task/qid_query.tsv", sep="\t", 
                       names=["qid", "query"])

rating_df = pd.read_csv("yandex_cup_analytics_A/open_task/qid_url_rating.tsv", 
                        sep="\t", names=["qid", "url", "rating"])

In [5]:
host_df.head()

   hostid                                                url
0     100                                  http://cons66.ru/
1    1000        http://www.pozdravleniya.biz/stihi/detskie/
2    1001  http://www.pravda.ru/society/family/pbringing/...
3    1002        http://www.pravpiter.ru/gorn/n015/ta003.htm
4    1003  http://www.pregnancycalendar.ru/biblioteka/vse...

In [7]:
query_df.head()

      qid                                              query
0   10387          batman arkham city будет русский перевод?
1  107538           Список белорусской литературы по лизингу
2  150126                                   написание review
3  168170                         медаль в подарок на 30 лет
4  176370  что означает рожь и пшеница годом родится а ве...

In [8]:
rating_df.head()

     qid                                                url  rating
0  10387                       http://batman-arkhamcity.ru/    0.00
1  10387  http://bigtorrents.org/publ/batman_arkham_city...    0.14
2  10387  http://consolelife.ru/xbox-360/6577-o-rossiysk...    0.14
3  10387  http://dic.academic.ru/book.nsf/3662736/Batman...    0.00
4  10387      http://forum.csmania.ru/viewtopic.php?t=25986    0.14

In [9]:
host_qid_rating = pd.merge(host_df, rating_df, on="url")

In [10]:
pBreak = 0.15

def pLook(i, pRel):
    if i == 0: 
        return 1
    return pLook(i-1, pRel)*(1-pRel[i-1])*(1-pBreak)

def pFound(df):
    max_rating_for_host = df.groupby("hostid")["rating"].max()
    top10 = max_rating_for_host.sort_values(ascending=False)[:10]
    
    pFound = 0
    
    for i, rating in enumerate(top10):
        pFound += pLook(i, top10.values)*rating
        
    return pFound

In [11]:
pFound_df = host_qid_rating.groupby("qid").apply(pFound)
query_df[query_df["qid"] == pFound_df.idxmax()]

       qid            query
12  295761  гугл переводчик

### Для hidden_task

In [12]:
host_df = pd.read_csv("yandex_cup_analytics_A/hidden_task/hostid_url.tsv", sep="\t", 
                      names=["hostid", "url"])

query_df = pd.read_csv("yandex_cup_analytics_A/hidden_task/qid_query.tsv", sep="\t", 
                       names=["qid", "query"])

rating_df = pd.read_csv("yandex_cup_analytics_A/hidden_task/qid_url_rating.tsv", 
                        sep="\t", names=["qid", "url", "rating"])

In [14]:
host_qid_rating = pd.merge(host_df, rating_df, on="url")

In [15]:
host_qid_rating.head()

   hostid                                                url     qid  rating
0       1                 http://09spravki.ru/requisites.php   70357    0.00
1      10                  http://3pu.info/seo-tools/domains    5308    0.00
2    1006                     http://www.priroda.su/item/820  407522    0.00
3    1007  http://www.prisnilos.su/znaki_zodiaka/strelets...  438518    0.14
4    1009             http://www.prohotel.ru/hotel-108042/0/   79514    0.07

In [17]:
query_df.head()

      qid                                   query
0  402111           работа фотографом в австралии
1  405851            производительность видеокарт
2  407522  ёлочные игрушки из пластиковых бутылок
3  409073                                    туту
4  438518                характеристика стрельцов

In [18]:
pFound_df = host_qid_rating.groupby("qid").apply(pFound)
query_df[query_df["qid"] == pFound_df.idxmax()]

       qid                            query
14  692308  бесплатный просмотр камеди клаб

# Ans = бесплатный просмотр камеди клаб

# B. Спортивный турнир

In [84]:
import math

def solution(file):

    games = []
    
    for i, line in enumerate(open(file)):
        line = line.strip()
        if i == 0:
            n_games = int(line)
            n_rounds = int(math.log2(n_games + 1))
        else:
            games.append(line.split())
            
    dic = {}
    
    for i in range(len(games)):
        gamer1, gamer2 = games[i]
        
        if gamer1 not in dic:
            dic[gamer1] = 0
            
        if gamer2 not in dic:
            dic[gamer2] = 0
            
        dic[gamer1] += 1
        dic[gamer2] += 1
        
    dic_rounds = [[] for _ in range(n_rounds + 1)]
    
    for gamer in dic:
        
        if dic[gamer] > n_rounds:
            return "NO SOLUTION"
    
        dic_rounds[dic[gamer]].append(gamer)
        
    set_gamers = set()
    
    for n_round in range(1, len(dic_rounds)-1):
        
        if len(dic_rounds[n_round]) != 2**(n_rounds-n_round):
            return "NO SOLUTION"
        
        for gamer in dic_rounds[n_round]:
            if gamer in set_gamers:
                return "NO SOLUTION" 
            set_gamers.add(gamer)
        
    return " ".join(dic_rounds[n_rounds])

print(solution('input.txt'))

GORBOVSKII IURKOVSKII

In [87]:
import collections


def solve(fname):
    games = []
    for it, line in enumerate(open(fname)):
        line = line.strip()
        if not line:
            continue
        if it == 0:
            n_games = int(line)
            n_rounds = n_games.bit_length()
        else:
            games.append(line.split())

    gamer2games_cnt = collections.Counter()
    rounds = [[] for _ in range(n_rounds + 1)]

    for game in games:
        gamer_1, gamer_2 = game
        gamer2games_cnt[gamer_1] += 1
        gamer2games_cnt[gamer_2] += 1

    ok = True
    for game in games:
        gamer_1, gamer_2 = game
        game_round = min(gamer2games_cnt[gamer_1], gamer2games_cnt[gamer_2])
        if game_round > n_rounds:
            ok = False
            break
        rounds[game_round].append(game)
    print(rounds)
    finalists = list((gamer for gamer, games_cnt in gamer2games_cnt.items() if games_cnt == n_rounds))

    for cur_round in range(1, n_rounds):
        if len(rounds[cur_round]) != pow(2, n_rounds - cur_round):
            ok = False
            break
        cur_round_gamers = set()
        for gamer_1, gamer_2 in rounds[cur_round]:

            if gamer_1 in cur_round_gamers or gamer_2 in cur_round_gamers:
                ok = False
                break
            cur_round_gamers.add(gamer_1)
            cur_round_gamers.add(gamer_2)

    return ' '.join(finalists) if ok else 'NO SOLUTION'
    
print(solve("input.txt"))

[[], [['GORBOVSKII', 'ABALKIN'], ['SIKORSKI', 'KAMMERER'], ['PRIVALOV', 'BYKOV'], ['IURKOVSKII', 'KIVRIN']], [['SIKORSKI', 'GORBOVSKII'], ['BYKOV', 'IURKOVSKII']], [['GORBOVSKII', 'IURKOVSKII']]]
GORBOVSKII IURKOVSKII